.font-akshar {
    font-family: 'Akshar', sans-serif; 
}

.font-intel {
    font-family: 'Inter', sans-serif;
}


.title {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}